@page "/"
@rendermode InteractiveServer
@inject HttpClient Http
@using Raft.Data.Models;

<PageTitle>Home</PageTitle>

<h3>Tally</h3>

<p>@message</p>

<button class="btn btn-primary" @onclick="OnClick">Tally</button>

@code {
    private string message = "";
    protected async override Task OnInitializedAsync()
    {
        var compareAndSwapRequest = new CompareAndSwapRequest
        {
            Key = "test",
            OldValue = null,
            NewValue = message 
        };

        try
        {
            await Http.PostAsJsonAsync("gateway/Storage/CompareAndSwap", compareAndSwapRequest);
        }
        catch{}

        var response = await Http.GetFromJsonAsync<VersionedValue<string>>("gateway/Storage/EventualGet?key=test");
        message = response?.Value ?? "";
        StateHasChanged();
    }

    private async Task OnClick()
    {
        var compareAndSwapRequest = new CompareAndSwapRequest
        {
            Key = "test",
            OldValue = message,
            NewValue = message + "1" 
        };
        await Http.PostAsJsonAsync("gateway/Storage/CompareAndSwap", compareAndSwapRequest);
        var response = await Http.GetFromJsonAsync<VersionedValue<string>>("gateway/Storage/StrongGet?key=test");
        message = response?.Value ?? "";
        StateHasChanged();
    }
}
