@page "/"
@inject HttpClient Http
@using Raft.Data.Models;

<PageTitle>Home</PageTitle>

<p>Welcome to your new app.</p>
<p>@message</p>

@code {
    private string message = "Hello, world!";
    protected async override Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<VersionedValue<string>>("Storage/StrongGet?key=test");
        Console.WriteLine(response.Value);
        message = response.Value;
        StateHasChanged();
    }
}
