@page "/processing"
@using Raft.Data.Services;
@using Raft.Data.Models;
@using Raft.Shop.Components.Shared
@inject IOrderService OrderService;

<PageTitle>Order Processing</PageTitle>

<h3>Orders</h3>
<hr />
@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (orders.Count == 0)
    {
        <p><em>No orders found</em></p>
    }
    else
    {
        <div class="accordion" id="orderAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="pendingHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pendingCollapse" aria-expanded="false" aria-controls="pendingCollapse">
                        Pending
                    </button>
                </h2>
                <div id="pendingCollapse" class="accordion-collapse collapse" aria-labelledby="pendingHeading" data-bs-parent="#orderAccordion">
                    <div class="accordion-body d-flex flex-wrap">
                        @if (!orders.Any(o => o.Status == OrderStatus.Pending))
                        {
                            <p><em>No pending orders</em></p>
                        }
                        @foreach (var order in orders.Where(o => o.Status == OrderStatus.Pending))
                        {
                            <div class="m-2">
                                <OrderDetail OrderInfo="order.OrderInfo" OrderId="order.Id">
                                    <Action>
                                        <button class="btn btn-primary" @onclick="() => ProcessOrder(order.Id)">Process</button>
                                    </Action>
                                </OrderDetail>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="processedHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#processedCollapse" aria-expanded="false" aria-controls="processedCollapse">
                        Processed
                    </button>
                </h2>
                <div id="processedCollapse" class="accordion-collapse collapse" aria-labelledby="processedHeading" data-bs-parent="#orderAccordion">
                    <div class="accordion-body d-flex flex-wrap">
                        @if (!orders.Any(o => o.Status == OrderStatus.Processed))
                        {
                            <p><em>No processed orders</em></p>
                        }
                        @foreach (var order in orders.Where(o => o.Status == OrderStatus.Processed))
                        {
                            <div class="my-2">
                                <OrderDetail OrderInfo="order.OrderInfo" OrderId="order.Id" />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="failedHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#failedCollapse" aria-expanded="false" aria-controls="failedCollapse">
                        Failed
                    </button>
                </h2>
                <div id="failedCollapse" class="accordion-collapse collapse" aria-labelledby="failedHeading" data-bs-parent="#orderAccordion">
                    <div class="accordion-body d-flex flex-wrap">
                        @if (!orders.Any(o => o.Status == OrderStatus.Failed))
                        {
                            <p><em>No failed orders</em></p>
                        }
                        @foreach (var order in orders.Where(o => o.Status == OrderStatus.Failed))
                        {
                            <div class="my-2">
                                <OrderDetail OrderInfo="order.OrderInfo" OrderId="order.Id" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

@code 
{

    private List<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrdersAsync();
    }

    private async Task ProcessOrder(Guid orderId)
    {
    }
}
