<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RAFTSHOP</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                <span class="bi bi-shop fs-4 mb-4"></span>
                <b class="ms-2">HOME</b>
            </NavLink>
        </div>

        <div class="nav-item px-3 ">
            <NavLink class="nav-link px-2" href="deposit">
                <span class="bi bi-piggy-bank fs-4 mb-4"></span>
                <b class="ms-2">DEPOSIT</b>
            </NavLink>
        </div>
    </nav>
</div>

